{% extends 'base_auth.html' %}
{% load static %}


{% block content %}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card mt-5" style="background-color: #6c757d6e;">


      <div class="card-body">
        <div class="card-title py-3">
          <h4 class="text-center" >Reset Password</h4>
        </div>
        <form action="{% url 'reset-password' %}" method="post">
          {% csrf_token %}

          {% include 'partials/messages.html' %}
          <div class="form-group">
            <input
              type="email"
              name="email"
              placeholder="Email"
              class="form-control form-control-sm"
              id="emailField"

              value="{{fieldValues.email}}"
            />
          </div>

          <div class="emailFeedBackArea invalid-feedback" style="display:none">
          </div>
        
          <input type="submit" value="Submit" class="btn btn-block btn-primary mt-5 submit-btn" />
        <a class="btn  btn-outline-none btn-sm float-end mt-5 ms-5" href="{% url 'login' %}" role="button">Login</a>

        </form>


      </div>

      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>

<script src="{% static 'js/register.js' %}"></script>

{% endblock content %}
